@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
    font-family: 'Roboto';
    color: #000;
    background:#fff;
}

nav {
    width: 100%;
    background-color: #F2F2F2;
  }

.navbar {
    width: 100%;
    display: flex;

      }

.nav-links {
        display: inline-block;
        text-decoration: none;
        color: white;
      }


h1 { color: #20a8b4;
    background-color:#F2F2F2;
    margin: -10px;
    padding: 18px;
}

h2 {
    position: relative;
    top: 100px;
    padding: 6px;
}

.button1 {
    background-color:#20a8b4;
    text-align: center;
    border-radius: 10px;
    padding: 12px;
    width: 100vh;
 }

 .button2 {
    background-color:#20a8b4;
    text-align: center;
    border-radius: 10px;
    padding: 12px;
    width: 100vh;
 }
 div.white {
     text-align: center;
 }

div.CodeImage {
    display:none;
}

@media screen and (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    float: right;
  }

h1 { padding: 30px;
     height: 50px;
}

h2 {
    top: 380px;
    left: 40px;
    font-size: xx-large;
    width: 120px;
}
.question {
    font-size: xx-large;
    width: 600px;
}
.navHeader {
    float: left;
    position: absolute;
    left: 0%;
    font-size: 40px;
}

div.CodeImage {
    display: block;
    position: absolute;
    right: 100px;
}

div.white {
    position:relative;
    left: -6px;
}

.nav-links {
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    float: right;
    font-size: larger;
  }

.button1 {
    background-color:#20a8b4;
    border-radius: 10px;
    padding: 12px;
    width: auto;
 }

.button2 {
    background-color:#20a8b4;
    text-align: center;
    border-radius: 10px;
    padding: 12px;
    width: auto;
 }
 #learnMore {
     width: 200px;
 }

}
/*APPLIES TO ENTIRE WEBPAGE*/

.orange { color: #ff5c0f;
 }

span.black { color: #000;
 }

ul {
    font-size: medium;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }

a:link {
    color: #000;
    text-decoration: none;
  }
a:hover {
    color: #ff5c0f ;
  }

li.button1:hover {
    background-color: #ff5c0f;
    position: relative;
}
div.button2:hover {
    background-color: #ff5c0f;
}

a.white {
    color: #fff;
}

p {
    padding-top: 20px;
    font-size: large;
}

.nav-item {
    padding: 10px;
}